@import url('fonts.css');

.header 
{
    background-image: url('../_img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 670px;
}

.navbar-nav .nav-item .nav-link
{
    text-transform: uppercase;
    color:#FFFFFF;
    font-family: 'Roboto Black';
    font-size: 13px;
    margin-left: 25px;
}

.main-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
}

.main-title
{
    font-family: 'Playfair Display Black';
    font-size: 32px;
    color:#FFFFFF;
}

.seperator
{
    border-top: 1px solid rgb(0, 224, 208);
    width: 50px;
    opacity: 1;
}

.sub-text
{
    font-family: 'Roboto Light';
    color: #FFFFFF;
    max-width: 800px;
    line-height: 1.714;
    font-size: 14px;
    letter-spacing: .02cm;
}

.btn-header
{
    border-width: 1px;
    border-color: rgb(0, 224, 208);
    border-style: solid;
    border-radius: 2px;
    background-color: transparent;
    color: rgb(0, 224, 208);
    width: 138px;
    height: 38px;
    font-family: 'HammersmithOne Regular';
    margin: 30px 0px 20px 0px;
}

.btn-header:hover
{
    background-color:#FFFFFF;
    color: #000000;
}

.carousel
{
    margin:0px 20px;
}

.carousel-indicators [data-bs-target] 
{
    width: 7px;
    height: 7px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

.carousel-indicators .active 
{

    background-color: #FFFFFF;

}

#story
{
    margin: 50px 0;
    min-height: 400px;
}

.story-header
{
    font-family: 'Playfair Display Bold';
    font-size: 22px;
}

.story-content
{
    font-family: 'Roboto Light';
    max-width: 800px;
    color: rgba(65, 61, 75);
    line-height: 1.714;
    font-size: 14px;
    letter-spacing: .02cm;
}

.story-video
{
    background-image: url('../_img/video-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
}

.story-video-icon
{
    color:#FFFFFF;
    font-size: 60px;
}

.story-video-text
{
    color:#FFFFFF;
    font-family: 'Roboto Black';
}

.expertise-title
{
    font-family: 'Playfair Display Bold';
    font-size: 22px;
    color:#413d4b;
}

.expertise-subtitle
{
    font-family: 'Playfair Display Regular';
    font-size: 14px;
}

.expertise-seperator
{
    color: #2f2d35;
    border-top: 1px solid #2f2d35;
    width: 50px;
    opacity: 1;
}
  
.out-tab 
{
border-collapse: collapse;
}

.out-tab .in-tab 
{
border: 1px solid #ebebeb;
}

.out-tab .cent-tab:first-child .in-tab 
{
border-top: 0;
border-bottom:0;
}

.out-tab .cent-tab:last-child .in-tab 
{
border-bottom: 0;
border-bottom:0;
}

.out-tab .cent-tab .in-tab:first-child
{
border-left: 0;
border-right:0;
}

.out-tab .cent-tab .in-tab:last-child
{
    border-left: 0;
    border-right:0;
}

.hr {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 330px;
    top: 2057px;
    width: 940px;
    height: 1px;
    z-index: 308;
  }

.expertise-item-title
{
    font-family: 'Roboto Black';
    color: #413d4b;
    font-size: 14px;
}

.expertise-item-content
{
    font-family: 'Roboto Light';
    color:#333333;
    font-size: 14px;
    margin: 10px 60px 40px 60px;
    text-align: center;
    letter-spacing: .4px;
}

#team
{
    background-image: url('../_img/team-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 712px;
}

.team-title
{
    font-family: 'Playfair Display Bold';
    font-size: 22px;
    color:#FFFFFF;
}

.team-subtitle
{
    font-family: 'Playfair Display Regular';
    font-size: 14px;
    color: #f9f9f9;
}

.team-seperator
{
    border-top: 1px solid #655c80;
    width: 50px;
    opacity: 1;
}

.team-item
{
    border: 1px solid #7d7991;
}

.team-item-name
{
    font-family: 'Roboto Black';
    color: #FFFFFF;
    font-size: 14px;
}

.team-item-mission
{
    font-family: 'Roboto Light';
    color:#fafafa;
    font-size: 13px;
}

.team-slogan
{
    margin: 60px 0px 0px 0px;
    color: #FFFFFF;
    font-size: 14px;


}